<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--
        -meta tags
    -->
    <title>Login | Billsify </title>
    <meta name = "title" content ="Login | Billsify">
    <meta name = "description" content="Billsify is a way to listen to millions of songs without needing to download them">

    <!--
        - favicon
     -->
     <link rel="shortcut icon" href="/public/images/favicon.svg" type="image/svg+xml">

     <!--
        - google font link 
    -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">

    <!--
        - custom css
    -->

    <link rel="stylesheet" href="css/login.css">
</head>

<body>
    <article class="login-page">
        <div class="banner">
            <img src="/public/images/login-banner.jpg" width="1080" height="1080" alt="" class="img-cover">
        </div>

        <div>
            <div class="content"

            <a href="" class="logo">
                <img src="/public/images/logo.svg" width="94" height="24" alt="Billsify logo">
            </a>

            <div class="wrapper">
                <h2 class="title headline-medium">
                    <strong>Join us</strong> and embark on an incredible musical <strong>journey!</strong>
                </h2>
                <a href="/auth" class="btn btn-primary has-icon" data-ripple>
                    <img src="/public/images/spotify-on-primary.svg" width="18" alt="">

                    
                </a>
            </div>
        </div>

    </article>
</body>

</html>